#login-background {
  background: url("../img/backgroundLogin.jpeg");
}

#login-background-layer {
  background-color: rgba(53, 41, 33, .6);
}

#login {
  margin-top: 20%;
}

#login-logo {
  margin-bottom: 10%;
}

#login-input {
  width: 80%;
}

#login-button {
  width: 75%;
}

.container {
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  background-image: url("../img/background_chalkboard_smartphone.png");
  background-size: cover;
  /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  margin: auto;
  padding: 0;
  display: inline-block;
}

#main {
  margin-top: 5%;
}

#circle {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  border-radius: 50%;
  background: white;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin: 4%;
}

#pic_special {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-bottom: auto;
  position: center;
  background-position: center;
}

#scan-guest {
  color: #FFFFFF;
}

#doughnut {
  height: 300px;
  width: 300px;
}

#detail-buttons {
  width: 75%;
  margin-bottom: 10%;
}

#scan-button {
  width: 75%;
}

#ingredients {
  width: 75%;
}

#ingredients .left {
  text-align: left;
}

#ingredients .right {
  text-align: right;
}

#nutrients {
  width: 90%;
}

#nutrients .left {
  text-align: left;
}

#nutrients .right {
  text-align: right;
}

#nutrients th {
  font-weight: bold;
  padding-bottom: 5px;
}

#ingredients th {
  font-weight: bold;
  padding-bottom: 5px;
}

h1,
h2,
h3,
h4 {
  color: #FFFFFF;
}

#dash-button {
  width: 75%;
}

.border {
  font-size: 45px;
  padding: 20px;
  -webkit-border-radius: 1100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  border: 4px solid #fff;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.wrapper {
  width: 90%;
}

#wrapper-share-shot {
  width: 75%;
}

#share-shot-text {
  width: 80%;
  text-align: left;
  font-size: 19px;
  display: inline-block;
  vertical-align: middle;
}

#share-shot-button {
  display: inline-block;
  vertical-align: middle;
  font-size: 60px;
}

.feedback-button {
  width: 32%;
  display: inline-block;
}

#test1 {
  display: inline-block;
  vertical-align: middle;
  border: solid black 1px;
  width: 300px;
}

#test2 {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  height: 300px;
  border: 1px solid #d1c7ac;
}


.swiper-pagination-bullet {
  background: #fff;
}

.swiper-pagination-bullet-active {
  background: #8DAC52;
  opacity: 1;
}

#juiceImage {
  height: 250px;
}

#more-information {
  width: 60%;
  margin: 0px auto;
}

#mi-button-container {
  position: fixed;
  bottom: 40px;
  width: 100%;
}

#date-button1 {
  width: 40%;
  display: inline-block;
  margin-right: 10px;
}

#date-button2 {
  width: 40%;
  display: inline-block;
}

#all-date-button {
  width: 40%;
  margin-top: 5px;
  display: inline-block;
}

#test1 { 
    display: inline-block; 
    vertical-align:middle;
    border:solid black 1px; 
    width: 300px; 
 } 

#test2 { 
   display: inline-block; 
   vertical-align:middle;
   width: 300px; 
   height: 300px; 
   border: 1px solid #d1c7ac; 
}

.sweet-alert fieldset input {
display: none;
}