<ion-view id="main-background" view-title="My Dashboard"  class="container" ng-controller="DoughnutCtrl">
 <ion-content scroll="false" id="main-background-layer">
   <div id="main">
       <ionic-datepicker ng-click="fromOpenDatePicker()">
         <button class="button button-block button-balanced" id="date-button"> {{fromDatepickerObject.inputDate | date:'yyyy-MM-dd'}}</button>
       </ionic-datepicker>
       <ionic-datepicker ng-click="toOpenDatePicker()">
         <button class="button button-block button-balanced" id="date-button"> {{toDatepickerObject.inputDate | date:'yyyy-MM-dd'}}</button>
       </ionic-datepicker>
       <center>
         <h3 style='margin-top: 15px;' ng-show="toggle">Geconsumeerde ingrediënten: </h3>
         <h3 style='margin-top: 15px;' ng-hide="toggle">Geconsumeerde voedingsstoffen: </h3>
         <div id="doughnut">
           <canvas id="ingr" ng-show="toggle" class="chart chart-doughnut"
             chart-data="dataIngredients" chart-labels="labelsIngredients">
           </canvas>
           <canvas id="ntr" ng-hide="toggle" class="chart chart-doughnut"
             chart-data="dataNutrients" chart-labels="labelNutrients">
           </canvas>
         </div>
         <br/>
         <button ng-click="toggle=!toggle;test()" class="button button-block button-balanced" id="scan-button">
           <span ng-hide="toggle">Toon ingrediënten</span>
           <span ng-show="toggle">Toon voedingsstoffen</span>
      </center>
   </div>
 </ion-content>
</ion-view>
