<ion-modal-view id="login-background">
  <ion-content scroll="false" id="login-background-layer">
    <div id="login">
      <form ng-submit="doLogin()">
        <center>
          <img id="login-logo" src="img/logoLogin.png" width=80%>
          <div id="login-input">
            <div class="list list-inset">
              <label class="item item-input">
                <input type="text" placeholder="Gebruikersnaam">
              </label>
              <label class="item item-input">
                <input type="text" placeholder="Wachtwoord">
              </label>
            </div>
          </div>
          <div id="login-button">
            <button class="button button-block button-balanced" type="submit">Log in</button>
            <button class="button button-block button-balanced" type="register">Registreren</button>
          </div>
        </center>
      </form>
      </div>
  </ion-content>
</ion-modal-view>