<ion-view id="login-background">
  <ion-content scroll="false" id="login-background-layer">
    <div id="login">
      <form action="#/app/main" >
        <center>
          <img id="login-logo" src="img/logoLogin.png" width=80%>
          <div id="login-input">
            <div class="list list-inset">
              <label class="item item-input">
                <input type="text" placeholder="Gebruikersnaam">
              </label>
              <label class="item item-input">
                <input type="password" placeholder="Wachtwoord">
              </label>
            </div>
          </div>
          <div id="login-button">
            <button class="button button-block button-balanced" type="submit">Aanmelden</button>
            <a href="#/register" class="button button-block button-balanced">Registreren</a>
          </div>
          <a id="scan-guest" href="#/scan-a-nl">Scan een flesje als gast &raquo;</a>
        </center>
      </form>
      </div>
  </ion-content>
</ion-view>
