<ion-view id="main-background" view-title="Home" class="container" hide-back-button="true">
  <ion-content scroll="false" id="main-background-layer">
    <div id="main">
      <center>
        <br/>
        <a ng-click="goToJotd()">
          <div id="circle"><img id="pic_special" src="img/proteins.png" height="55" width="55"></div>
        </a>
        <a ng-click="notyet()">
          <div id="circle"><img id="pic_special" src="img/coins.png" height="55" width="55"></div>
        </a>
        <br/>
        <a ng-click="goToDash()">
          <div id="circle"><img id="pic_special" src="img/bars-chart.png" height="55" width="55"></div>
        </a>
        <a ng-click="scanBarcode()">
          <div id="circle"><img id="pic_special" src="img/qr-code1.png" height="55" width="55"></div>
        </a>
        <br/>
        <br/>
        <h2>Jouw Key</h2>
        <h2>{{LoginKey}}</h2>
        <br/>
        <h4>{{Credits}} Credit(s) Over</h4>
      </center>
    </div>
  </ion-content>
</ion-view>