<ion-view id="main-background" class="container" hide-back-button="true">
  <ion-content scroll="false" id="main-background-layer">
    <div id="main">
      <center>
        <h1 id="main-title">Main</h1>
        <br/>
        <a ng-click="info()" />
        <div id="circle"><img id="pic_special" src="../img/proteins.png" height="55" width="55" /></div>
        <a ng-click="info()" />
        <div id="circle"><img id="pic_special" src="../img/coins.png" height="55" width="55" /></div>
        <br/>
        <a href="#/app/dashboard" />
        <div id="circle"><img id="pic_special" src="../img/bars-chart.png" height="55" width="55" /></div>
        <a href="#/app/scan-a-l" />
        <div id="circle"><img id="pic_special" src="../img/qr-code1.png" height="55" width="55" /></div>
        <a/>
        <br/>
        <h2 id="main-text1">Jouw Key:</h2>
        <h2 id="main-text1">{{LoginKey}}</h2>
        <br/>
        <h4 id="main-text2">{{Credits}}</h4>
        <h4 id="main-text2">Credits Over </h4>
      </center>
    </div>
    <!--<h1>Main</h1>
    {{$scope.key}}-->
  </ion-content>
</ion-view>